#star{
    color:rgb(87, 87, 221);
}
.products_vcatd{
    width:100%;
    height:auto;
    padding:10px;
}
.categotr_name_uz{
    width:100%;
    height:auto;

}
.categoru_poroduct_card{
    display: flex;
    gap:15px;
    flex-wrap:wrap;
}
.card h3 {
    white-space: nowrap;          
    overflow: hidden;             
    text-overflow: ellipsis;     
    width: 100%;                  
  }
  .category_name_uz_id67{
    font-size:500px;
  }
  .sikitki_tovar1{
    width: 60px;
    height:60px;
    border-radius:50%;
    position:absolute;
    box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
    margin-top:180px;
    margin-left:140px;
    background-color:#ef2b15;
    text-align: center;
    transform: rotate(20deg);
  }
  .sikidka21{
  font-weight:400;
  color:white;
  font-size:13px;
  }
  .meta_tag{
    width:100%;
    height:auto;
    padding:20px;
    text-align:start;
  }
  .meta_tag1{
    color:rgb(31, 31, 31);
  }