#star{
    color:rgb(87, 87, 221);
}
.products_vcatd{
    width:100%;
    height:auto;
    padding:10px;
    /* border:2px solid black; */
}
.categotr_name_uz{
    width:100%;
    height:auto;
    /* border:2px solid black; */
}
.categoru_poroduct_card{
    display: flex;
    gap:15px;
    flex-wrap:wrap;
}
/* CategoriesAndProducts.css */
.card h3 {
    white-space: nowrap;          /* Prevent text from wrapping */
    overflow: hidden;             /* Hide the overflowed text */
    text-overflow: ellipsis;      /* Display ellipses for the overflowed text */
    width: 100%;                  /* Ensure it takes full width of its container */
  }
  .category_name_uz_id67{
    font-size:500px;
  }
  .carddd{
    width:44%;
    height:auto;
    cursor: pointer;
    padding:10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    text-align: start;
    /* cursor: pointer; */
    /* border: 2px solid black; */
    color: black;
  }
  .sikitki_tovar2{
    width: 60px;
    height:60px;
    /* border:2px solid black; */
    border-radius:50%;
    position:absolute;
    box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
    margin-top:5px;
    margin-left:100px;
    background-color:#ef2b15;
    text-align: center;
    transform: rotate(20deg);
  }
  .sikidka22{
  font-weight:900;
  color:rgb(255, 0, 0);
  font-size:12px;
  }
  .span_price1{
    color:blue;
    /* font-family:900; */
    font-weight:600;
  }